body {
    background-color: teal;
}

.about-container {
    background-color: whitesmoke;
}

#bio-image {
    float: left;
    clear: both;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}